body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.gameBoard {
    display: grid;
    grid-template-columns:  70px 70px 70px;
    gap: 0;
    border: 1px black solid;
    justify-items: center;
}

.cells {
    height: 70px;
    width: 70px;
    border: 1px black solid;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
}

#result {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.controls {
    margin-top: 10px;
}

button {
    background-color: white;
    border: 1px black solid;
    width: auto;
    padding: 10%;
    font-size: large;
}